site_name: DBSnapper Documentation
site_url: https://docs.dbsnapper.com
site_description: "Create sanitized development snapshots of your production databases."
edit_uri: ""
copyright: Copyright &copy; 2024 Scharfnado, LLC

repo_name: dbsnapper/dbsnapper
repo_url: https://github.com/dbsnapper/dbsnapper

extra_css:
  - stylesheets/extra.css
theme:
  name: material
  custom_dir: overrides
  language: en
  logo: static/logo.png
  favicon: static/favicon.ico
  icon:
    repo: material/turtle
  features:
    - search.suggest
    - search.highlight
    - search.share
    - navigation.indexes
    # - navigation.sections
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
  palette:
    - media: "(prefers-color-scheme: light)" # Light mode
      scheme: default
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
    - media: "(prefers-color-scheme: dark)" # Dark mode
      scheme: slate
      primary: light blue
      accent: indigo
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode

plugins:
  - git-revision-date-localized
  - search
  - social
  - exclude-search:
      exclude:
        - "cmd/dbsnapper_auth.md"
        - "cmd/dbsnapper_config.md"
        - "configuration/secrets-encryption.md"
        - "configuration/target-definitions.md"
      exclude_unreferenced: true

extra:
  homepage: https://dbsnapper.com
  analytics:
    provider: gtm
    # provider: google
    # property: G-HWQPXED3FR
    # provider: plausible
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/dbsnapper
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/company/dbsnapper
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/dbsnapper

nav:
  - Welcome: index.md
  - Get Started:
      - How it Works: how-it-works.md
      - requirements.md
      - installation.md
      - quick-start.md
      - Configuration Settings: configuration.md
      - Philosophy: philosophy.md
  - Snapshot:
      - Introduction: snapshot/introduction.md
      - Configuration: snapshot/configuration.md
      - Build and Load: snapshot/build_and_load.md
  - Subset:
      - Introduction: subset/introduction.md
      - Configuration: subset/configuration.md
  - Sanitize:
      - Introduction: sanitize/introduction.md
      - Configuration: sanitize/configuration.md
      - Sanitize: sanitize/sanitize.md
  - Share:
      - Introduction: share/introduction.md
  - DBSnapper Cloud:
      - Introduction: dbsnapper-cloud/introduction.md
      - Targets: dbsnapper-cloud/targets.md
      - Storage Profiles: dbsnapper-cloud/storage_profiles.md
      - Single Sign-On:
          - dbsnapper-cloud/sso/index.md
          - How to Configure OIDC with Okta: dbsnapper-cloud/sso/sso-okta-oidc.md

  - Database Engines:
      - database-engines/introduction.md
      - database-engines/postgresql-local.md
      - database-engines/mysql-local.md
      - database-engines/postgresql-docker.md
      - database-engines/mysql-docker.md
  - Cloud Storage Engines:
      - cloud-storage-engines/introduction.md
      - cloud-storage-engines/configuration.md
      - cloud-storage-engines/cloudflare-r2.md
      - cloud-storage-engines/amazon-s3.md
  - Command Line Usage:
      - cmd/dbsnapper.md
      - cmd/dbsnapper_auth_token.md
      - cmd/dbsnapper_config_init.md
      - cmd/dbsnapper_config_check.md
      - cmd/dbsnapper_subset.md
      - cmd/dbsnapper_build.md
      - cmd/dbsnapper_pull.md
      - cmd/dbsnapper_sanitize.md
      - cmd/dbsnapper_load.md
      - cmd/dbsnapper_targets.md
      - cmd/dbsnapper_target.md
  - Articles:
      - articles/useful-database-queries.md
      - articles/dbsnapper-github-actions-ecs-simplified.md
      - articles/dbsnapper-github-actions-amazon-ecs.md
      - articles/creating-sanitized-database-snapshots-with-dbsnapper.md
      - articles/backup-amazon-rds-with-dbsnapper.md
  - Release Notes: release-notes.md

markdown_extensions:
  # Python Markdown
  - admonition
  - meta
  - footnotes
  - attr_list
  - def_list
  - toc:
      permalink: true

  # Python Markdown Extensions
  - pymdownx.highlight:
      anchor_linenums: true
      auto_title: false
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.tilde
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
